*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
body{
  min-height: 100vh;
  background-image: url("./asseets/img/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}